/** This is an example css file you may want to build your own **/
/*! CSS Used from: ./main.css */
/*! @import ./fonts/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-clock-o:before{content:"\f017";}
.fa-calendar:before{content:"\f073";}
.fa-google:before{content:"\f1a0";}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
/*! end @import */
/*! @import ./framework/base.css */
nav,section{display:block;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
img{border-style:none;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
a{color:#1179b1;}
a:hover,a:focus{color:#000;}
a:active{color:#666;}
h2,h3,p,ul{margin-top:0;}
h2,h3{font-family:Georgia, serif;}
h2,h3{font-weight:normal;margin-bottom:0.7em;line-height:1.2;}
h2{font-size:30px;}
h3{font-size:24px;}
p,ul{margin-bottom:1.5em;}
li{margin-bottom:0.5em;}
h3:last-child,p:last-child,ul:last-child,li:last-child{margin-bottom:0;}
img{max-width:100%;height:auto;}
.cwd-card-grid{float:left;width:100%;margin:2em 0;}
.cwd-card-grid:last-child{margin-bottom:0;}
.cwd-card-grid .card,.cwd-card-grid.three-card .card{float:left;width:100%;margin:0 0 30px 0;position:relative;}
.cwd-card-grid .card:nth-child(1n+2){border-top:3px solid #e7e7e7;padding-top:30px;}
.cwd-card-grid.three-card .card{padding:0!important;border:0!important;}
.cwd-component .field{margin-bottom:1em;}
.cwd-component h3{font-size:20px;}
.cwd-component .events h3{float:right;width:80%;width:calc(100% - 74px);margin:0;}
.cwd-component .events{float:left;clear:both;width:100%;}
.cwd-component .events time{background:#b31b1b;color:#fff;float:left;width:15%;width:calc(54px);min-height:54px;text-align:center;-webkit-transition:background .15s;-moz-transition:background .15s;-o-transition:background .15s;-ms-transition:background .15s;transition:background .15s;}
.events a:hover time,.events a:focus time{background:#901212;}
.cwd-component .summary{font-size:13px;}
.cwd-component .summary p{margin-bottom:0.75em;}
.cwd-card-grid .group-image{max-width:480px;margin:0 auto;}
.cwd-component a img{vertical-align:middle;}
.cwd-card-grid .field{margin-bottom:1em;}
.cwd-card-grid .group-image{position:relative;margin-bottom:1em;}
.cwd-card-grid .field:last-child{margin:0;}
.cwd-card-grid .group-image img{vertical-align:middle;width:100%;height:auto;}
.cwd-card-grid .title{margin-bottom:0.5em;}
.cwd-card-grid h3{font-size:19px;}
@media (min-width: 480px){
.cwd-card-grid .card{width:48%;margin:0 4% 30px 0;}
.cwd-card-grid .card:nth-child(1n+2){border:0;padding:0;}
.cwd-card-grid .card:nth-child(2n+2){margin-right:0;}
.cwd-card-grid .card:nth-child(2n+1){clear:left;}
.cwd-card-grid .card:nth-child(1n+3){border-top:3px solid #e7e7e7;padding-top:30px;}
}
@media (min-width: 768px){
.cwd-card-grid .group-image{max-width:none;}
}
@media (min-width: 992px){
.cwd-card-grid.three-card .card,.cwd-card-grid.three-card .card:nth-child(2n+2){width:31%;margin:0 3.5% 30px 0;border:0;}
.cwd-card-grid.three-card .card:nth-child(1n+3){border-top:0;padding-top:0;}
.cwd-card-grid.three-card .card:nth-child(3n+3){margin-right:0;}
.cwd-card-grid.three-card .card:nth-child(3n+1){clear:left;}
.cwd-card-grid.three-card .card:nth-child(2n+1){clear:none;}
.cwd-card-grid.three-card .card:nth-child(1n+4){border-top:3px solid #e7e7e7;padding-top:30px;}
.cwd-component h3{font-size:22px;}
}
@media (min-width: 1200px){
.cwd-card-grid .card,.cwd-card-grid .card:nth-child(2n+2){width:31%;margin:0 3.5% 30px 0;border:0;}
.cwd-card-grid .card:nth-child(1n+3){border-top:0;padding-top:0;}
.cwd-card-grid .card:nth-child(3n+3){margin-right:0;}
.cwd-card-grid .card:nth-child(3n+1){clear:left;}
.cwd-card-grid .card:nth-child(2n+1){clear:none;}
.cwd-card-grid .card:nth-child(1n+4){border-top:3px solid #e7e7e7;padding-top:30px;}
}
/*! end @import */
/*! @import ./framework/drupal.css */
.pager{width:100%;clear:both;border-top:1px solid #ddd;padding-top:30px;}
.pager ul{padding-left:0;}
.pager ul li{display:inline-block;margin:0 4px 8px 0;padding:0;font-size:13px;line-height:2;border:0;}
.pager ul li a{display:inline-block;padding:0 0.6em;text-decoration:none;background:rgba(0, 0, 0, 0.04);border:1px solid rgba(0, 0, 0, 0.05);}
.pager ul li a:hover,.pager ul li a:focus{background:rgba(0, 0, 0, 0.06);border:1px solid rgba(0, 0, 0, 0.1);color:#000;}
.pager ul li.is-active a{min-width:2.5em;min-height:2em;padding:0 0.6em;text-align:center;}
.pager ul li.is-active a{background:#3584ba!important;font-weight:600;color:#fff;border:1px solid #3584ba;}
/*! end @import */
/*! @import /dist/cwd_events.css */
@media all{
.cwd-events-style .pager ul{padding-left:0;}
.cwd-events-style .pager ul li{display:inline-block;margin:0 4px 8px 0;padding:0;font-size:13px;line-height:2;border:0;}
.cwd-events-style .pager ul li a{display:inline-block;padding:0 0.6em;text-decoration:none;background:rgba(0, 0, 0, 0.04);border:1px solid rgba(0, 0, 0, 0.05);}
.cwd-events-style .pager ul li a:hover,.cwd-events-style .pager ul li a:focus{background:rgba(0, 0, 0, 0.06);border:1px solid rgba(0, 0, 0, 0.1);color:black;}
.cwd-events-style .pager ul li.is-active a{min-width:2.5em;min-height:2em;padding:0.2em 0.6em;text-align:center;}
.cwd-events-style .pager ul li.is-active a{background:#3584ba!important;font-weight:600;color:#fff;border:1px solid #3584ba;}
}
.cwd-events-style .events-modern-compact .card{border:none;}
.cwd-events-style .events-modern-compact .cwd-component .events .field{clear:both;}
.cwd-events-style .events-modern-compact .cwd-component .events time{width:auto;min-height:0;margin:0 0 1em;}
.cwd-events-style .events-modern-compact .cwd-component .events time .month{float:left;font-size:15px;line-height:1;font-weight:400;padding:9px 12px;text-transform:uppercase;}
.cwd-events-style .events-modern-compact .cwd-component .events time .day{float:left;font-size:15px;line-height:1;font-weight:400;padding:9px 12px;}
.cwd-events-style .events-modern-compact .cwd-component .events h3{width:100%;font-size:21px;line-height:1.4;margin-bottom:0.25em;font-family:Iowan Old Style, Georgia, Athelas, Baskerville, Sitka Display, Constansia, serif;}
.cwd-events-style .events-modern-compact .cwd-component .events .meta{color:#767676;font-size:13px;font-weight:400;}
.cwd-events-style .events-modern-compact .events-listing > div.events-list > div > div > a{margin:0px 0 25px 0!important;}
.cwd-events-style .events-modern-compact .cwd-component .events a{display:inline-block;width:100%;text-decoration:none;color:#000;transition:background 0.15s, box-shadow 0.15s;}
.cwd-events-style .events-modern-compact .cwd-component .events a:hover h3,.cwd-events-style .events-modern-compact .cwd-component .events a:focus h3{text-decoration:underline;color:#127cb5;}
.cwd-events-style .events-modern-compact .cwd-component .events a:active h3{color:#000;}
.cwd-events-style .events-modern-compact .cwd-component .events a:hover,.cwd-events-style .events-modern-compact .cwd-component .events a:focus{background:rgba(0, 0, 0, 0.05);box-shadow:0 0 0 15px rgba(0, 0, 0, 0.05);}
.cwd-events-style .events-modern-compact .cwd-component .events a:active{background:rgba(0, 0, 0, 0.09);box-shadow:0 0 0 15px rgba(0, 0, 0, 0.09);}
.cwd-events-style .events-modern-compact img{float:left;margin:0 20px 0px 0px;-o-object-fit:cover;object-fit:cover;-o-object-position:100% 0;object-position:100% 0;width:200px;height:150px;}
.cwd-events-style .events-modern-compact .group-image{width:100%;}
.cwd-events-style .events-modern-compact .group-image img{vertical-align:middle;width:100%;height:auto;border-bottom:8px solid #b31b1b;margin-bottom:1em;}
.cwd-events-style .cwd-card-grid .group-image{width:100%;}
.cwd-events-style .event-subscribe{float:right;font-size:13px;padding-bottom:20px;}
.cwd-events-style .event-subscribe > a{width:auto!important;font-size:20px;padding-right:8px;color:#111;text-decoration:none;display:inline-block!important;}
.cwd-events-style .event-subscribe a:first-child{padding-left:10px;}
.cwd-events-style .event-subscribe .google{color:#2d863e!important;background:transparent!important;box-shadow:none!important;}
.cwd-events-style .event-subscribe .microsoft{color:#017bb1!important;background:transparent!important;box-shadow:none!important;}
.cwd-events-style .event-subscribe .apple{color:#545a5f!important;background:transparent!important;box-shadow:none!important;}
/*! end @import */
.cwd-events-style{padding:15px;}
/*! CSS Used from: ./drupal/style.css */
@media all{
a{background-color:transparent;}
a:active,a:hover{outline:0;}
}
@media all{
a{text-decoration:none;color:#0074bd;}
a:hover,a:focus{text-decoration:underline;outline:0;}
ul{margin:0.25em 0 0.25em 1.5em;list-style-type:disc;list-style-image:none;}
}
@media all{
@media print{
*{color:#000!important;background-color:transparent!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a{text-decoration:underline;color:#000;}
}
}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('./fonts/fontawesome-webfont.eot?v=4.7.0');src:url('./fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('./fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('./fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('./fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}


/*! CSS Used from: /css/main.css */
/*! end @import */
/*! @import /css/framework/base.css */
button{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button,html [type="button"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring{outline:1px dotted ButtonText;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.hidden{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
h3,ul{margin-top:0;}
h3{font-family:Georgia, serif;}
h3{font-weight:normal;margin-bottom:0.7em;line-height:1.2;}
h3{font-size:24px;}
ul{margin-bottom:1.5em;}
li{margin-bottom:0.5em;}
ul:last-child,li:last-child{margin-bottom:0;}
.cwd-component h3{font-size:20px;}
.cwd-card-grid h3{font-size:19px;}
@media (min-width: 992px){
.cwd-component h3{font-size:22px;}
}
/*! end @import */
/*! @import /dist/cwd_events.css */
.cwd-events-style .events-modern-compact .events-filters-wrap ul{margin-bottom:5px!important;}
.cwd-events-style .events-filters-wrap{float:left;width:100%;margin:10px 0px 20px 0px;}
.cwd-events-style .events-filters-wrap ul{margin:0;}
.cwd-events-style .events-filters-wrap h3{float:left;font-size:14px;line-height:24px;margin:0;padding:2px 8px 2px 0;}
.cwd-events-style ul.events-filters li{float:left;list-style:none;background:none;line-height:24px;margin:0 5px 5px 0;padding:0;}
.cwd-events-style ul.events-filters li button{float:left;padding:5px 13px 5px;background:#e7eff3;border-radius:4px;text-decoration:none!important;border-style:none;}
.cwd-events-style ul.events-filters li button.active{color:#fff!important;background:#4B7995!important;}
.cwd-events-style ul.events-filters li button:hover{background:#d3e1e8;color:#000;}
.cwd-events-style .hidden{position:absolute;left:-10000em;top:auto;width:1px;height:1px;overflow:hidden;}
/*! end @import */
/*! CSS Used from: /css/drupal/style.css */
@media all{
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
}
@media all{
ul{margin:0.25em 0 0.25em 1.5em;list-style-type:disc;list-style-image:none;}
}
@media all{
@media print{
*{color:#000!important;background-color:transparent!important;box-shadow:none!important;text-shadow:none!important;}
}
}
